<tr id="idea_<%= idea.id %>">
  <td><%= idea.desc %></td>
  <td>
    <%= link_to 'Show', idea_path(idea.id) %>
    <%= link_to 'Edit', edit_idea_path(idea.id) %>
    <%= link_to 'Destroy', idea_path(idea.id), method: :delete, data: {confirm: "Are you sure?"} %>
  </td>
</tr>
