<h1>Ideas</h1>

<ul>
  <% if @idea.errors %>
    <ul>
    <% @idea.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
</ul>

<%= form_for(@idea, remote: true) do |f| %>
  <div class="form-group">
    <%= f.label :desc, class: 'sr-only' %>
    <%= f.text_field :desc, placeholder: 'Add a new idea...', class: 'form-control' %>
  </div>
<% end %>


<table class="table table-striped">
  <% @ideas.each do |idea| %>
    <tr id="idea_<%= idea.id %>">
      <td><%= idea.desc %></td>
      <td>
        <%= link_to 'Show', idea_path(idea.id) %>
        <%= link_to 'Edit', edit_idea_path(idea.id) %>
        <%= link_to 'Destroy', idea_path(idea.id), method: :delete, data: {confirm: "Are you sure?"} %>
      </td>
    </tr>
  <% end %>

</table>


<!-- Get the new idea form functional at the top of the ideas index page -->
