<h1><%= @idea.desc %></h1>
<div>
  <!-- Get the edit link working -->
  <%= link_to "Edit", edit_idea_path(@idea.id) %> |
  <%= link_to "Destroy", idea_path(@idea.id), method: :delete, data: { confirm: "Are you sure?" }  %>
</div>
<br>

<%= form_for(@comment) do |f| %>
  <%= f.hidden_field :idea_id, value: @idea.id %>
  <%= f.label :contents, class: 'sr-only' %>
  <%= f.text_field :contents, placeholder: "your comments...", class: 'form-control' %>
<% end %>

<br>
<!-- Display a list of associated comments with clickable links to the comment's show page -->
<div class="list-group">
  <% @comments.each do |comment| %>
    <%= link_to comment_path(comment.id), :class => 'list-group-item' do %>
      <div><strong><%= comment.user.email %>:</strong></div>
      <div><%= comment.contents %></div>
    <% end %>
  <% end %>
</div>
