<!DOCTYPE html>
<html>
<head>
  <title>IdeaNotebook</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-8">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/ideas">Idea Notebook</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
        <div class="container-fluid">
          <ul class="nav navbar-nav"><!--
            <li><a href="list_of_ideas.html">All ideas</a></li>
            <li><a href="details.html">Details</a></li>
            <li><a href="new.html">New Idea</a></li>
            <li><a href="edit.html">Edit Idea</a></li> -->
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><a href="<%= destroy_user_session_path %>" data-method="delete">Sign out</a></li>
              <li><a href="<%= edit_user_registration_path %>"><%= current_user.email %></a></li>
            <% else %>
              <li><a href="<%= new_user_registration_path %>">Sign up</a></li>
              <li><a href="<%= new_user_session_path %>">Sign in</a></li>
            <% end %>
          </ul>
        </div>
      </div><!-- /.navbar-collapse -->
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <% if notice %>
            <div class="alert alert-info alert-dismissible notice" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <%= notice %>
            </div>
          <% end %>
          <% if alert %>
            <div class="alert alert-danger alert-dismissible alert" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <%= alert %>
            </div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>


</body>
</html>
